<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css">
    <link rel="stylesheet" href="/resources/css/exam.css">
    <title>Document</title>
</head>

<body>
    <div id="spinner">
        <p class="mdui-text-center">正在加载中，请稍后</p>
    </div>
    <div class="mdui-container mdui-shadow-12" style="margin-top:5%!important;">
        <div id="description">
            <h1 class="mdui-text-center">
                {{paper.main_title}}
            </h1>
            <h2 class="mdui-text-center">
                {{paper.sub_title}}
            </h2>
        </div>
        <div id="questions">
            <div class="mdui-textfield answer-box">
                <input class="mdui-textfield-input" type="text" id="player_id" placeholder="Minecraft游戏ID"/>
              </div>
            <template v-for="question,index in paper.questions">
                <div class="answer-box">
                    <span style="font-size: 30px;font-weight: 6 00;">{{index + 1}}.</span>&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="font-size: 30px;">{{question.content}}</span>

                    <ul>
                        <li v-for="option,selection in question.options" v-if="question.type == 'radio'">
                            <label class="mdui-radio">
                                <input type="radio" :value="selection + 1" v-model="answer[index]" />
                                <i class="mdui-radio-icon"></i>
                                {{option}}
                            </label>
                        </li>
                        <li v-for="option,selection in question.options" v-else-if="question.type == 'multiple'">
                            <label class="mdui-checkbox">
                                <input type="checkbox" :value="selection + 1" v-model="answer[index]" />
                                <i class="mdui-checkbox-icon"></i>
                                {{option}}
                            </label>
                        </li>
                    </ul>
                </div>
            </template>
            <div id="button-group" style="text-align: center;">
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-text-center mdui-col-6 mdui-color-purple"
                    style="margin-right: 40px;" @click="submit">提交问卷</button>
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-text-center mdui-col-6"
                    style="margin-left: 40px;" onclick="location.reload()">重设答案</button>
            </div>

        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

<script>
    clean_answer = []
    const app = Vue.createApp({
        data() {
            return {
                paper: {},
                answer: [],
                paper_id:"",
                player_id:"",
            }
        },
        methods: {
            submit() {
                player_id = document.getElementById("player_id").value
                console.log(player_id)
                if(player_id != ""){
                    $(function () {
                    $('#spinner').fadeIn();
                    $('#spinner').html = "正在提交，请稍后"
                })
                console.log(player_id)
                axios.post('/api/submit', {
                    answer: this.answer,
                    player_id: player_id,
                    paper_id: this.paper_id
                })

                    .then(function (response) {
                        alert("提交成功，您的分数是" + JSON.parse(response.data.score) + "分\n" +
                            "答题信息："+"\n" +
                            "玩家id:"+this.player_id+"\n" +
                            "答题时间戳:"+Date.now()+"\n" +
                            "是否及格:"+response.data.pass+"\n" + 
                            "您当前的分数未达到设置的及格线，点击确定即可重新作答")
                        location.reload()
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert("提交失败，请联系开发者处理" + error)
                    });
                }else{
                    alert("游戏id不能为空！")
                }
                
            }
        },
        async mounted() {
            this.paper_id = window.location.pathname;
            paper_id = this.paper_id.slice(1);
            success = true;
            while(success){
                await axios({
                    method: 'get',
                    url: '/api/get_test/' + paper_id,
                    responseType: 'stream'
                })
                    .then((response) => {
                        data = eval('(' + response.data+ ')')
                        if (data.code == 200) {
                            this.paper = data.data;
                            if(data.is_server_online == false){
                                alert("问卷所属服务器当前不在线，无法自动添加白名单，请提交答案后截图成绩发给服务器管理员手动添加白名单")
                            }
                            for (x in this.paper.questions) {
                                clean_answer.push([]);
                            }
                            this.answer = clean_answer;
                            $(function () {
                                $('#spinner').fadeOut();
                            })
                            success = false
                        }else if(data.code == 404) {
                            alert("找不到该问卷id对应的问卷，请确认是否已经上传问卷");
                            paper_id = prompt("请输入要填写的问卷ID：");
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert("获取问卷失败，请联系开发者处理" + error);
                        paper_id = prompt("请输入要填写的问卷ID：");
                    })
                }
        }
    })
    app.mount("body")
</script>

</html>